{% extends "base.html" %}
{% load static %}

{% block title %}WordSpark Blog. | About {% endblock %}

{% block description %}Hello, I'm Chetan Rathod a Backend Developer and aspiring computer engineering undergrad. I’m pretty conversant in Python and backend Development in Django. {% endblock %}

{% block active_about %}active{% endblock %}

{% block content %}
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>more about us!</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Banner Ends Here -->

{%endblock%}

{% block section %}

<section class="about-us">
    <div class="container">
        
      <div class="row">
        <div class="col-lg-12">
          <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
        </div>
      </div>


    {% comment %} For about project {% endcomment %}
    <div class="container-fluid py-5" id="about">
      <div class="container">
          <div class="position-relative d-flex align-items-center justify-content-center">
              <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
              <h3 class="position-absolute text-uppercase text-primary">WordSpark Blog.</h3>
          </div>
          <div class="row align-items-center">
              
              <div class="col-lg-12">
                <h3>WordSpark: Ignite Your Creativity and Spark Engaging Blog Posts</h3>
                  <p>
                    WordSpark is a powerful Django blog website solution designed to empower creators and ignite a passion for content creation. Packed with user-friendly features and a robust Content Management System (CMS), WordSpark makes it easier than ever to launch, manage, and grow your blog.
                    </p>

                    <div ><h4>Features of WordSpark Blog.</h4></div>
                  <div class="row mb-3">
                      
                      <div class="col-sm-6 py-2"><h6>&#9673; Category Wise Blogs</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Tags Wise Blogs</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Easy Navigation.</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Email Subscription.</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Easy to Share on Social Media</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Commenting Option</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Dynamic Presentation</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Trending Blogs on Home Page</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Search For Blog Post</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Proper Pagination</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; User Login/SignUp</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Logged-in User Profile</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Contact Form</h6></div>
                      <div class="col-sm-6 py-2"><h6>&#9673; Subscription By Categories and Tags</h6></div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>

    </div>
  </section>

{%endblock%}